<form id="payment-form" class="form">
    {{#if consumerDefenderWithMembership}}
        <div class="mmembership-option">
            <h3>[$25/quarter] Consumer Defender + CHOICE Membership</h3>
            <ul>
                <li>Choice.community Access</li>
                <li>Defender Badge (while supplies last)</li>
                <li>Priority Expert Advice</li>
                <li>All the benefits of CHOICE membership</li>
                <li>CHOICE Members Only area</li>
            </ul>
        </div>

    {{else}}
        <div class="membership-option">
            <h2 class="header">Consumer Defender</h2>
            <div class="section option-body control-group">
                <div class="side">
                    <div class="icon_defender"></div>
                </div>
                <div class="main">
                    <ul class="feature-list">
                        <li>Choice.community access</li>
                        <li>Defender Badge</li>
                        <li>Priority Expert Advice</li>
                    </ul>
                </div>
            </div>
            <div class="section" >
                <div class="control-group">
                    <label>
                        Choose what you want to pay every quarter
                    </label>
                    <div class="controls controls-dropdown" >

                        <select onchange={{action "selectOption" value="target.value"}}>
                            {{#each donateAmounts as |option|}}
                                <option value={{option.value}} >{{option.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}

  <hr>
  <div class="control-group card-section" >
    <label class="control-label section-label" for="card-element">{{i18n 'discourse_donations.card'}}</label>
    <div id="card-element" class="controls"></div>
  </div>

  {{#if anon}}
      <label class="section-label">Create New Account</label>
      <div class="user-details">
          <div class="control-group">
              <label class="control-label" for="card-element">{{i18n 'user.email.title'}}</label>
              <div class="controls">
                  {{text-field value=email}}
              </div>
          </div>

          {{#if create_accounts}}
              <div class="control-group">
                  <label class="control-label" for="card-element">{{i18n 'user.username.title'}}</label>
                  <div class="controls">
                      {{text-field value=username}}
                  </div>
              </div>

              <div class="control-group">
                  <label class="control-label" for="card-element">{{i18n 'user.name.title'}}</label>
                  <div class="controls">
                      {{text-field value=name}}
                  </div>
              </div>

              <div class="control-group">
                  <label class="control-label" for="card-element">{{i18n 'user.password.title'}}</label>
                  <div class="controls">
                      {{input type="password" value=password}}
                  </div>
              </div>
          {{/if}}
      </div>
  {{/if}}

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls">
      By making a purchase you agree to<br>
      our <a href="https://www.choice.com.au/policies-terms-and-conditions/terms-and-conditions">terms and conditions</a>
    </div>
  </div>

  <div class="control-group save-button">
    <div class="controls">
      {{#unless paymentSuccess}}
        {{#d-button action="submitStripeCard" disabled=transactionInProgress class="btn btn-primary btn-payment"}}
          {{#if create_accounts}}
            {{i18n 'discourse_donations.submit_with_create_account'}}
          {{else}}
            {{i18n 'discourse_donations.submit'}}
          {{/if}}
        {{/d-button}}
      {{/unless}}

      {{#if transactionInProgress}}
        {{loading-spinner size="small"}}
      {{/if}}

      {{#each result as |message|}}
        <p>{{{message}}}</p>
      {{/each}}

      {{#if paymentSuccess}}
        {{#if create_accounts}}
          <p>Please <strong>check your email</strong> to get your log in link.</p>
        {{/if}}
      {{/if}}
    </div>
  </div>
</form>
